.action-form-label {
  @extend .col-12, .col-sm-5;
}

.action-form-input {
  @extend .col-12, .col-sm-7;
  display: flex;

  :not(:last-child) {
    margin-right: $action-form-input-spacing;
  }
}

.action-form-value {
  @extend .col-12;
}

.port-open {
  color: $brand-success;
}

.port-closed {
  color: $brand-danger;
}
