.info-form-label {
  @extend .col-12, .col-sm-5;
  align-self: start;

  .form-label {
    margin-bottom: 0;
  }
}

.info-form-value {
  @extend .col-12, .col-sm-7;
  color: $info-form-value-color;
  overflow-wrap: break-word;
}
