.info-form-label {
  @extend .col-xs-12, .col-sm-5, .flex-xs-top;

  .form-label {
    margin-bottom: 0;
  }
}

.info-form-value {
  @extend .col-xs-12, .col-sm-7;
  color: $info-form-value-color;
  overflow-wrap: break-word;
}
