// Alerts

$alert-padding-x: .75rem;
$alert-padding-y: .5rem;
$alert-border-radius: 0;


// Close

$close-text-shadow: none;


// Dropdowns

$dropdown-min-width: 9rem;
$dropdown-item-padding-x: 1rem;


// Fonts

$font-family-base: "Open Sans", serif;


// List group

$list-group-bg: transparent;
$list-group-border-radius: 0;


// Tables

$table-bg-accent: transparent;
