.peers-table-col-port {
  text-align: center;
}

.peers-table-col-download {
  text-align: center;
}

.peers-table-col-upload {
  text-align: center;
}

.peers-table-col-progress {
  text-align: center;
}
